* {
    box-sizing: border-box;
    outline: none;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    -webkit-use-select: none;
}

body {
    font-family: 'RobotoCondensed', sans-serif;
    background-color: #424242;
    color: #ececec;
}

a, button, input {
    -webkit-app-region: no-drag;
    color: #ececec;
}

button, input {
    border: none;
    padding: 0;
    background-color: transparent;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color:
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #525252;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #212121;
}
