#setting {
    width: 100%;
    height: 100%;
    overflow: auto;
}

#setting input[type="checkbox"] {
    -webkit-appearance: none;
    background-color: #323232;
    width: 15px;
    height: 15px;
    position: relative;
    font-family: FontAwesome;
}

#setting input[type="checkbox"]:hover {
    background-color: #212121;
}

#setting input[type="checkbox"]:before {
    content: '\f00c';
    font-size: 16px;
    position: absolute;
    top: -2px;
    color: #c0c0c0;
    left: 1px;
    width: 0px;
    overflow: hidden;
    transition: all .3s;
}

#setting input[type="checkbox"]:checked:before {
    width: 20px;
}

#setting section {
    display: block;
    overflow: hidden;
    width: 100%;
    line-height: 20px;
}

#setting section:hover {
    background-color: #323232;
}

#setting section input[type="checkbox"] {
    margin: 7.5px 10px;
    padding: 0;
    display: block;
    float: left;
}

#setting section input[type="checkbox"]:before {
    color: #949494;
}

#setting section label {
    font-size: 14px;
    line-height: 20px;
    height: 30px;
    display: block;
    float: left;
    width: calc(100% - 35px);
    height: auto;
    padding: 6px 0;
    color: #949494;
    transition: all .3s;
    font-weight: bold''
}

#setting section input[type="checkbox"]:checked:before {
    color: #ececec;
}

#setting section input[type="checkbox"]:checked~label {
    color: #ececec;
}
