* {
    box-sizing: border-box;
    outline: none;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
}

body {
    font-family: 'RobotoCondensed', sans-serif;
    -webkit-app-region: drag;
    background-color: #343434;
    color: #ececec;
}

a, button, input {
    -webkit-app-region: no-drag;
    color: #ececec;
}

button, input {
    border: none;
    padding: 0;
    background-color: transparent;
}
