/*** TITLEBAR ***/

#titlebar {
    width: 100%;
    height: 30px;
    background-color: #343434;
    -webkit-app-region: drag;
}

#openmenu {
    display: none;
}

label[for="openmenu"], #titlebar .close {
    float: left;
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    -webkit-app-region: no-drag;
    transition: all .3s;
}

label[for="openmenu"] {
    position: absolute;
    top: 0;
    left: 0;
}

label[for="openmenu"]:hover, #titlebar .close:hover {
    background-color: #212121;
}

#titlebar .title {
    display: block;
    width: calc(100% - 60px);
    float: left;
    line-height: 30px;
    text-align: center;
    margin-left: 30px;
}

#menu {
    position: absolute;
    left: -120px;
    top: 30px;
    height: calc(100% - 30px);
    background-color: #212121;
    width: 120px;
    overflow: hidden;
    transition: all .3s;
    padding: 10px 0;
    z-index: 10;
}

#menu a {
    display: block;
    line-height: 30px;
    height: 30px;
    width: 120px;
    text-decoration: none;
    font-family: 'RobotoCondensed', sans-serif;
    font-size: 14px;
    transition: all .3s;
}

#menu a:before {
    font-family: FontAwesome;
    width: 40px;
    display: block;
    float: left;
    text-align: center;
}

#menu a:hover {
    background-color: #000;
}

#main {
    width: 100%;
    height: calc(100% - 30px);
    transition: all .3s;
    position: relative;
}

#openmenu:checked~#menu {
    left: 0px;
}

#openmenu:checked~#main {
    opacity: .3;
}
