<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

    <link rel="stylesheet" href="assets/css/reset.css" type="text/css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="assets/css/fontface.css" type="text/css">
    <link rel="stylesheet" href="assets/css/basic.css" type="text/css">
    <link rel="stylesheet" href="assets/css/titlebar.css" type="text/css">
    <link rel="stylesheet" href="assets/css/clock.css" type="text/css">
    <link rel="stylesheet" href="assets/css/calendar.css" type="text/css">
    <link rel="stylesheet" href="assets/css/alarm.css" type="text/css">
    <link rel="stylesheet" href="assets/css/stopwatch.css" type="text/css">
    <link rel="stylesheet" href="assets/css/style.css" type="text/css">

    <title>Watch</title>

    <script src="assets/js/angular.min.js"></script>
    <script src="assets/js/angular-route.min.js"></script>

    <script src="assets/js/pixi.min.js"></script>
</head>
<body ng-app="mainApp">
    <div id="titlebar">
        <div class="title">Clock</div>
        <button class="close fa fa-close"></button>
    </div>
    <input type="checkbox" id="openmenu" checked>
    <label for="openmenu" class="fa fa-navicon"></label>
    <div id="menu_bg"></div>
    <nav id="menu">
        <a href="#/clock" class="fa fa-clock-o">Clock</a>
        <a href="#/calendar" class="fa fa-calendar">Calendar</a>
        <a href="#/alarm" class="fa fa-bell-o">Alarm</a>
        <a href="#/stopwatch" class="fa fa-bomb">Stopwatch</a>
        <a href="#/countdown" class="fa fa-hourglass-2">Countdown</a>
        <a href="#/setting" class="fa fa-gear">Setting</a>
    </nav>
    <div id="main" ng-view></div>

    <script type="text/ng-template" id="clock.html">
        <div id="clock-text"></div>
        <div id="clock-canvas"></div>
    </script>

    <script type="text/ng-template" id="calendar.html">
        <div id="month-tool">
            <button class="prev fa fa-angle-double-left" ng-click="gotoPrevMonth()"></button>
            <label class="current" ng-bind="month_name"></label>
            <div class="button next fa fa-angle-double-right" ng-click="gotoNextMonth()"></div>
        </div>
        <table id="month-view">
        </table>
    </script>

    <script type="text/ng-template" id="alarm.html">
        <form novalidate id="alarm-form">
            <input class="active" type="checkbox" ng-model="active" id="active-alarm">
            <div class="time"><input class="hour" type="text" value="00" onclick="this.select()">:<input type="text" class="min" value="00" onclick="this.select()"></div>
            <label for="active-alarm"></label>
        </form>
    </script>

    <script type="text/ng-template" id="stopwatch.html">
        <div id="stopwatch">
            <div class="time"></div>
            <div class="tool"><button class="start fa fa-clock-o" ng-click="startTick()"></button><button ng-click="refresh()" class="reset fa fa-refresh"></button></div>
            <ol class="list">
                <li ng-repeat="item in stopwatch.list">{{item}}</div>
            </ol>
        </div>
    </script>

    <script type="text/ng-template" id="countdown.html">
        Countdown
    </script>

    <script type="text/ng-template" id="setting.html">
        Setting
    </script>

    <script src="assets/js/menu.js"></script>

    <script src="assets/js/app.js"></script>
    <script src="assets/js/clockCtrl.js"></script>
    <script src="assets/js/calendarCtrl.js"></script>
    <script src="assets/js/alarmCtrl.js"></script>
    <script src="assets/js/stopwatchCtrl.js"></script>

    <script src="assets/js/canvasclockServ.js"></script>
    <script src="assets/js/watchhandlerServ.js"></script>
    <script src="assets/js/alarmServ.js"></script>
    <script src="assets/js/stopwatchServ.js"></script>
</body>
</html>
